.main-title {
  font-family: "Dancing Script", cursive;
}
body {
  /* background: #45c2b7; */
  padding-top: 7rem;

  /* background-color: black; */
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Quicksand", sans-serif;
  color: #164e63;
}

nav {
  background-color: #45c2b7;
}
.bi-activity {
  font-size: 3rem;
  color: #164e63;
}
.bi-social {
  font-size: 1.5rem;
  color: #164e63;
}
.nav-link {
  color: #164e63;
}

.hero-heading {
  font-size: 2.7rem;
  color: #164e63;
}
.btn {
  /* height: 35%; */
  border: none;
}

.btn-primary {
  background-color: #45c2b7;
  border: 1px solid #45c2b7;
  color: #ffffff;
}

.btn-outline-primary {
  color: #164e63;
  border: 1px solid #164e63;
}
.btn-primary:hover {
  border: 1px solid #45c2b7;
  background-color: #45c2b7;

  color: #164e63;
}
.btn-outline-primary:hover {
  background-color: transparent;
  border: 1px solid #45c2b7;
  color: #45c2b7;
}
.cards-section {
  margin: 5rem 0;
}
.card {
  border: none;
  margin: 1.5rem 0;
}
.card-image {
  min-height: 50%;
}
@media screen and (max-width: 320px) {
  .hero-heading {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .hero-heading {
    font-size: 2.4rem;
  }
  .btn-hero {
    width: 160px !important;
  }
}
@media screen and (min-width: 992px) {
  .hero-heading {
    font-size: 3.1rem;
  }
  .btn-hero {
    width: 200px !important;
  }
  .btn-container {
    /* padding-left: 2rem; */
    padding-right: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  body {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .hero-heading {
    font-size: 3.6rem;
  }
}
@media screen and (min-width: 1600px) {
  body {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .hero-heading {
    font-size: 4.6rem;
  }
}
/* <style>
colors
--brand-color: #45C2B7; the light green one
--dark-color: #164E63; the dark green one
--mid-color: #BEC9DF; the light grey one
--light-color: #FFFFFF; white...duh.
  
font family
  font-family: 'Dancing Script', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Shadows Into Light', cursive;
</style> */

/* microscope icon attribution
<div>Icons made by <a href="https://www.flaticon.com/authors/nawicon" title="nawicon">nawicon</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
 */

/* <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */
