.main-title {
  font-family: "Dancing Script", cursive;
}
body {
  /* background: #45c2b7; */
  padding-top: 7rem;

  /* background-color: black; */
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Quicksand", sans-serif;
}
nav {
  background-color: #45c2b7;
}
.bi-activity {
  font-size: 3rem;
  color: #164e63;
}
.bi-social {
  font-size: 1.5rem;
  color: #164e63;
}
.nav-link {
  color: #164e63;
}
.hero-container {
  height: 90vh;
}
.hero-heading {
  font-size: 2.7rem;
}
.btn {
  height: 35%;
  border: none;
}

.btn-primary {
  background-color: #45c2b7;

  color: #164e63;
}

.btn-outline-primary {
  color: #164e63;
  border: 1px solid #164e63;
}
.btn-primary:hover {
  border: 2px solid #164e63;
  background-color: #45c2b7;

  color: #164e63;
}
.btn-outline-primary:hover {
  background-color: transparent;
  border: 1px solid #45c2b7;
  color: #45c2b7;
}
/* <style>
colors
--brand-color: #45C2B7; the light green one
--dark-color: #164E63; the dark green one
--mid-color: #BEC9DF; the light grey one
--light-color: #FFFFFF; white...duh.
  

font family
  font-family: 'Dancing Script', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Shadows Into Light', cursive;
</style> */
